semester-5/desiot/Demo3_4/flows.json
[{"id":"6848a01582678c6b","type":"tab","label":"Desain IoT","disabled":false,"info":"","env":[]},{"id":"fc926701830c4723","type":"mqtt in","z":"6848a01582678c6b","name":"","topic":"","qos":"2","datatype":"auto-detect","broker":"30f1b0317226d9c0","nl":false,"rap":true,"rh":0,"inputs":1,"x":390,"y":840,"wires":[["537497c984de5242","d1119b94f2f7995a"]]},{"id":"5ddaa5471e0c22be","type":"inject","z":"6848a01582678c6b","name":"Subscribe Device Status","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"iot/devices/d292e0a2-5d98-11ed-9b6a-0242ac120002/status","x":150,"y":840,"wires":[["fc926701830c4723"]]},{"id":"6b03478943e90c80","type":"inject","z":"6848a01582678c6b","name":"Unsubscribe Device Status","props":[{"p":"action","v":"unsubscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"iot/devices/d292e0a2-5d98-11ed-9b6a-0242ac120002/status","x":150,"y":900,"wires":[["fc926701830c4723"]]},{"id":"537497c984de5242","type":"ui_text","z":"6848a01582678c6b","group":"6307fbd9eb9f02c0","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{msg.payload.id}}","layout":"row-spread","x":640,"y":840,"wires":[]},{"id":"f456102192879be3","type":"ui_text","z":"6848a01582678c6b","group":"6307fbd9eb9f02c0","order":2,"width":0,"height":0,"name":"","label":"Device Uptime","format":"{{msg.payload.up_time}}","layout":"row-spread","x":860,"y":900,"wires":[]},{"id":"d1119b94f2f7995a","type":"function","z":"6848a01582678c6b","name":"Format Time","func":"const zeroPad = (num) => String(num).padStart(2, '0')\n\nconst deviceUpTime = msg.payload.up_time;\n\nconst hours = Math.floor(deviceUpTime / (1000 * 60 * 60));\nconst minutes = Math.floor(deviceUpTime / (1000 * 60)) % 60;\nconst seconds = Math.floor(deviceUpTime / 1000) % 60;\n\nmsg.payload.up_time = zeroPad(hours) + \":\" + zeroPad(minutes) + \":\" + zeroPad(seconds);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":900,"wires":[["f456102192879be3"]]},{"id":"2b62849074020a9e","type":"inject","z":"6848a01582678c6b","name":"Subscribe LDR Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"subscribe","payloadType":"str","x":150,"y":680,"wires":[["c191cfcecb616ee1"]]},{"id":"8a35e58e4c6963f4","type":"mqtt in","z":"6848a01582678c6b","name":"","topic":"","qos":"2","datatype":"auto-detect","broker":"30f1b0317226d9c0","nl":false,"rap":true,"rh":0,"inputs":1,"x":730,"y":720,"wires":[["9a8508dcdde23f75","749da7017c8c05c1","c86ec7087035c317"]]},{"id":"1b41c05268889452","type":"inject","z":"6848a01582678c6b","name":"Unsubscribe LDR Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsubscribe","payloadType":"str","x":150,"y":760,"wires":[["c191cfcecb616ee1"]]},{"id":"128f91b5832867c1","type":"ui_gauge","z":"6848a01582678c6b","name":"","group":"ef192be49ba497ee","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":720,"wires":[]},{"id":"fade1eb601844ac9","type":"ui_chart","z":"6848a01582678c6b","name":"","group":"ef192be49ba497ee","order":3,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1110,"y":780,"wires":[[]]},{"id":"c191cfcecb616ee1","type":"ui_switch","z":"6848a01582678c6b","name":"","label":"Toggle Subscribe","tooltip":"","group":"ef192be49ba497ee","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"action","topicType":"msg","style":"","onvalue":"subscribe","onvalueType":"str","onicon":"","oncolor":"","offvalue":"unsubscribe","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":390,"y":720,"wires":[["900e046e76786754"]]},{"id":"900e046e76786754","type":"change","z":"6848a01582678c6b","name":"Set Topic","rules":[{"t":"set","p":"action","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"iot/devices/d292e0a2-5d98-11ed-9b6a-0242ac120002/ldr/value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":720,"wires":[["8a35e58e4c6963f4"]]},{"id":"3d1f1602bca422f2","type":"inject","z":"6848a01582678c6b","name":"Subscribe Temp Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"subscribe","payloadType":"str","x":150,"y":480,"wires":[["40bffbec93c7fd44"]]},{"id":"4503705c9f990302","type":"mqtt in","z":"6848a01582678c6b","name":"","topic":"","qos":"2","datatype":"auto-detect","broker":"30f1b0317226d9c0","nl":false,"rap":true,"rh":0,"inputs":1,"x":730,"y":520,"wires":[["fded25b405be1e2d","53176d1e69528395","b0c03d1ddd0adc24"]]},{"id":"c220fe01ead61780","type":"inject","z":"6848a01582678c6b","name":"Unsubscribe Temp Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsubscribe","payloadType":"str","x":150,"y":560,"wires":[["40bffbec93c7fd44"]]},{"id":"6851daefc448095e","type":"ui_gauge","z":"6848a01582678c6b","name":"","group":"6e9352e8da0406db","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":520,"wires":[]},{"id":"fded25b405be1e2d","type":"change","z":"6848a01582678c6b","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":520,"wires":[["6851daefc448095e","478bb58c7b5bdc6f"]]},{"id":"478bb58c7b5bdc6f","type":"ui_chart","z":"6848a01582678c6b","name":"","group":"6e9352e8da0406db","order":3,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1110,"y":580,"wires":[[]]},{"id":"40bffbec93c7fd44","type":"ui_switch","z":"6848a01582678c6b","name":"","label":"Toggle Subscribe","tooltip":"","group":"6e9352e8da0406db","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"action","topicType":"msg","style":"","onvalue":"subscribe","onvalueType":"str","onicon":"","oncolor":"","offvalue":"unsubscribe","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":390,"y":520,"wires":[["e591dafdcbbf6926"]]},{"id":"e591dafdcbbf6926","type":"change","z":"6848a01582678c6b","name":"Set Topic","rules":[{"t":"set","p":"action","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"iot/devices/d292e0a2-5d98-11ed-9b6a-0242ac120002/temp/value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["4503705c9f990302"]]},{"id":"ac32e1d920daa0fd","type":"inject","z":"6848a01582678c6b","name":"Subscribe Humid Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"subscribe","payloadType":"str","x":150,"y":280,"wires":[["f0e2e725d6e84c4c"]]},{"id":"3d33a7f74b526e8e","type":"mqtt in","z":"6848a01582678c6b","name":"","topic":"","qos":"2","datatype":"auto-detect","broker":"30f1b0317226d9c0","nl":false,"rap":true,"rh":0,"inputs":1,"x":730,"y":320,"wires":[["328ea5d2b2573a63","21acfd977c32eeae","2b984d2f558d7b5a"]]},{"id":"b4ff73ae109cb776","type":"inject","z":"6848a01582678c6b","name":"Unsubscribe Humid Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsubscribe","payloadType":"str","x":150,"y":360,"wires":[["f0e2e725d6e84c4c"]]},{"id":"5ad18daa0a9f7f5d","type":"ui_gauge","z":"6848a01582678c6b","name":"","group":"29835f4537245c06","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":320,"wires":[]},{"id":"1907027467ee477c","type":"ui_chart","z":"6848a01582678c6b","name":"","group":"29835f4537245c06","order":3,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1110,"y":380,"wires":[[]]},{"id":"f0e2e725d6e84c4c","type":"ui_switch","z":"6848a01582678c6b","name":"","label":"Toggle Subscribe","tooltip":"","group":"29835f4537245c06","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"action","topicType":"msg","style":"","onvalue":"subscribe","onvalueType":"str","onicon":"","oncolor":"","offvalue":"unsubscribe","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":390,"y":320,"wires":[["1670a16a9e4b1460"]]},{"id":"1670a16a9e4b1460","type":"change","z":"6848a01582678c6b","name":"Set Topic","rules":[{"t":"set","p":"action","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"iot/devices/d292e0a2-5d98-11ed-9b6a-0242ac120002/humid/value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["3d33a7f74b526e8e"]]},{"id":"1397627028f8bdd0","type":"mysql","z":"6848a01582678c6b","mydb":"50b515bcbb6861d1","name":"","x":590,"y":180,"wires":[[]]},{"id":"328ea5d2b2573a63","type":"change","z":"6848a01582678c6b","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":320,"wires":[["5ad18daa0a9f7f5d","1907027467ee477c"]]},{"id":"9a8508dcdde23f75","type":"change","z":"6848a01582678c6b","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":720,"wires":[["128f91b5832867c1","fade1eb601844ac9"]]},{"id":"82a5f4702945899b","type":"link in","z":"6848a01582678c6b","name":"Insert Sensor IN","links":["21acfd977c32eeae","53176d1e69528395","749da7017c8c05c1"],"x":65,"y":180,"wires":[["76d6475c03466545"]]},{"id":"76d6475c03466545","type":"function","z":"6848a01582678c6b","name":"Insert Sensor Data SQL","func":"var query = `INSERT INTO sensor_data (sensor_id, value) values ('${msg.payload.id}', ${msg.payload.value})`;\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":180,"wires":[["6929af013ffb89c3"]]},{"id":"6929af013ffb89c3","type":"link out","z":"6848a01582678c6b","name":"Insert Sensor OUT","mode":"link","links":["2242bbe9f13fb2cc"],"x":395,"y":180,"wires":[]},{"id":"2242bbe9f13fb2cc","type":"link in","z":"6848a01582678c6b","name":"DB IN","links":["6929af013ffb89c3"],"x":485,"y":180,"wires":[["1397627028f8bdd0"]]},{"id":"21acfd977c32eeae","type":"link out","z":"6848a01582678c6b","name":"Humid OUT","mode":"link","links":["82a5f4702945899b"],"x":855,"y":380,"wires":[]},{"id":"53176d1e69528395","type":"link out","z":"6848a01582678c6b","name":"Temp OUT","mode":"link","links":["82a5f4702945899b"],"x":855,"y":580,"wires":[]},{"id":"749da7017c8c05c1","type":"link out","z":"6848a01582678c6b","name":"LDR OUT","mode":"link","links":["82a5f4702945899b"],"x":855,"y":780,"wires":[]},{"id":"4fbe4810c7ec9d9e","type":"mysql","z":"6848a01582678c6b","mydb":"50b515bcbb6861d1","name":"","x":470,"y":1100,"wires":[["0237d6183c0f4c86"]]},{"id":"2a42cf4ed91bacb5","type":"function","z":"6848a01582678c6b","name":"Query","func":"msg = {};\nmsg.topic = \"SELECT timestamp, value FROM sensor_data WHERE sensor_id = '9c48521e-4881-11ed-bd79-00ff00d6b0a0' ORDER BY id DESC LIMIT 10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":330,"y":1100,"wires":[["4fbe4810c7ec9d9e"]]},{"id":"88ef19ccd48d1eaa","type":"inject","z":"6848a01582678c6b","name":"Start Trigger","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":130,"y":1160,"wires":[["2a42cf4ed91bacb5","fff1b41789c2daa1","d0aa6018a20e9799","30360a62d39eb5cb","fc2f82c4563142ee"]]},{"id":"6d34be14fb44d788","type":"ui_table","z":"6848a01582678c6b","group":"29835f4537245c06","name":"Humidity Table","order":3,"width":"7","height":"5","columns":[],"outputs":0,"cts":false,"x":1080,"y":1100,"wires":[]},{"id":"793bb8a2d3b41176","type":"function","z":"6848a01582678c6b","name":"Add Humid Data","func":"let data = flow.get(\"humidCache\") || [];\nlet maxData = 10;\n\nif (Array.isArray(msg.payload)){\n    data = [...data, ...msg.payload];\n} else {\n    data.unshift(msg.payload);\n}\n\nif (data.length > maxData){\n    data = data.slice(0, maxData - 1);\n}\n\nflow.set(\"humidCache\", data);\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1100,"wires":[["6d34be14fb44d788"]]},{"id":"8982e4f9f4713ecc","type":"link in","z":"6848a01582678c6b","name":"Humid Add IN","links":["0237d6183c0f4c86","cba08c52f63ee6cd"],"x":745,"y":1100,"wires":[["793bb8a2d3b41176"]]},{"id":"4d35e559feae506b","type":"ui_table","z":"6848a01582678c6b","group":"6e9352e8da0406db","name":"Temp Table","order":3,"width":"7","height":"5","columns":[],"outputs":0,"cts":false,"x":1070,"y":1160,"wires":[]},{"id":"e8c56eecaf8b2cb9","type":"function","z":"6848a01582678c6b","name":"Add Temp Data","func":"let data = flow.get(\"tempCache\") || [];\nlet maxData = 10;\n\nif (Array.isArray(msg.payload)) {\n    data = [...data, ...msg.payload];\n} else {\n    data.unshift(msg.payload);\n}\n\nif (data.length > maxData) {\n    data = data.slice(0, maxData - 1);\n}\n\nflow.set(\"tempCache\", data);\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1160,"wires":[["4d35e559feae506b"]]},{"id":"97a692652e4e77d2","type":"link in","z":"6848a01582678c6b","name":"Temp Add IN","links":["5b39e3552652c076","fff682f0d0105e72"],"x":745,"y":1160,"wires":[["e8c56eecaf8b2cb9"]]},{"id":"4e025dd055b2cfed","type":"ui_table","z":"6848a01582678c6b","group":"ef192be49ba497ee","name":"LDR Table","order":3,"width":"7","height":"5","columns":[],"outputs":0,"cts":false,"x":1070,"y":1220,"wires":[]},{"id":"c497273565156d81","type":"function","z":"6848a01582678c6b","name":"Add LDR Data","func":"let data = flow.get(\"ldrCache\") || [];\nlet maxData = 10;\n\nif (Array.isArray(msg.payload)) {\n    data = [...data, ...msg.payload];\n} else {\n    data.unshift(msg.payload);\n}\n\nif (data.length > maxData) {\n    data = data.slice(0, maxData - 1);\n}\n\nflow.set(\"ldrCache\", data);\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1220,"wires":[["4e025dd055b2cfed"]]},{"id":"84a7dac1b4fbf0e6","type":"link in","z":"6848a01582678c6b","name":"LDR Add IN","links":["446f8c2bbd53e9eb","d7f9b922bca09c9f"],"x":745,"y":1220,"wires":[["c497273565156d81"]]},{"id":"eba713affd0a1df0","type":"mysql","z":"6848a01582678c6b","mydb":"50b515bcbb6861d1","name":"","x":470,"y":1160,"wires":[["5b39e3552652c076"]]},{"id":"fff1b41789c2daa1","type":"function","z":"6848a01582678c6b","name":"Query","func":"msg = {};\nmsg.topic = \"SELECT timestamp, value FROM sensor_data WHERE sensor_id = 'ad433d7c-4881-11ed-bd79-00ff00d6b0a0' ORDER BY id DESC LIMIT 10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":330,"y":1160,"wires":[["eba713affd0a1df0"]]},{"id":"0974e085066af37f","type":"mysql","z":"6848a01582678c6b","mydb":"50b515bcbb6861d1","name":"","x":470,"y":1220,"wires":[["446f8c2bbd53e9eb"]]},{"id":"d0aa6018a20e9799","type":"function","z":"6848a01582678c6b","name":"Query","func":"msg = {};\nmsg.topic = \"SELECT timestamp, value FROM sensor_data WHERE sensor_id = '2bbb3b54-421b-11ed-a552-00ff00d6b0a0' ORDER BY id DESC LIMIT 10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":330,"y":1220,"wires":[["0974e085066af37f"]]},{"id":"30360a62d39eb5cb","type":"function","z":"6848a01582678c6b","name":"Reset Cache Func","func":"flow.set(\"humidCache\", []);\nflow.set(\"ldrCache\", []);\nflow.set(\"tempCache\", []);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1280,"wires":[[]]},{"id":"0237d6183c0f4c86","type":"link out","z":"6848a01582678c6b","name":"link out 1","mode":"link","links":["8982e4f9f4713ecc"],"x":605,"y":1100,"wires":[]},{"id":"5b39e3552652c076","type":"link out","z":"6848a01582678c6b","name":"link out 2","mode":"link","links":["97a692652e4e77d2"],"x":605,"y":1160,"wires":[]},{"id":"446f8c2bbd53e9eb","type":"link out","z":"6848a01582678c6b","name":"link out 3","mode":"link","links":["84a7dac1b4fbf0e6"],"x":605,"y":1220,"wires":[]},{"id":"2b984d2f558d7b5a","type":"function","z":"6848a01582678c6b","name":"Construct Data","func":"const data = {};\n\ndata.value = msg.payload.value;\ndata.timestamp = new Date().toISOString();\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":260,"wires":[["cba08c52f63ee6cd"]]},{"id":"cba08c52f63ee6cd","type":"link out","z":"6848a01582678c6b","name":"link out 4","mode":"link","links":["8982e4f9f4713ecc"],"x":1055,"y":260,"wires":[]},{"id":"b0c03d1ddd0adc24","type":"function","z":"6848a01582678c6b","name":"Construct Data","func":"const data = {};\n\ndata.value = msg.payload.value;\ndata.timestamp = new Date().toISOString();\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":460,"wires":[["fff682f0d0105e72"]]},{"id":"fff682f0d0105e72","type":"link out","z":"6848a01582678c6b","name":"link out 5","mode":"link","links":["97a692652e4e77d2"],"x":1055,"y":460,"wires":[]},{"id":"c86ec7087035c317","type":"function","z":"6848a01582678c6b","name":"Construct Data","func":"const data = {};\n\ndata.value = msg.payload.value;\ndata.timestamp = new Date().toISOString();\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":660,"wires":[["d7f9b922bca09c9f"]]},{"id":"d7f9b922bca09c9f","type":"link out","z":"6848a01582678c6b","name":"link out 6","mode":"link","links":["84a7dac1b4fbf0e6"],"x":1055,"y":660,"wires":[]},{"id":"fc2f82c4563142ee","type":"function","z":"6848a01582678c6b","name":"Query","func":"msg = {};\nmsg.topic = \"SELECT locations.latitude as latitude, locations.longitude as longitude FROM sensors INNER JOIN locations ON sensors.location_id = locations.id WHERE sensors.id = '9c48521e-4881-11ed-bd79-00ff00d6b0a0'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":330,"y":1040,"wires":[["2e5b3242e56309a0"]]},{"id":"2e5b3242e56309a0","type":"mysql","z":"6848a01582678c6b","mydb":"50b515bcbb6861d1","name":"","x":470,"y":1040,"wires":[["7193b946edc8c496","96f53e785687c935"]]},{"id":"7193b946edc8c496","type":"change","z":"6848a01582678c6b","name":"Set Longitude","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1040,"wires":[["4f0f9b2285f925b5"]]},{"id":"96f53e785687c935","type":"change","z":"6848a01582678c6b","name":"Set Latitude","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].latitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":980,"wires":[["42965e674ccd81ca"]]},{"id":"42965e674ccd81ca","type":"ui_text","z":"6848a01582678c6b","group":"6307fbd9eb9f02c0","order":2,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":980,"wires":[]},{"id":"4f0f9b2285f925b5","type":"ui_text","z":"6848a01582678c6b","group":"6307fbd9eb9f02c0","order":3,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":1040,"wires":[]},{"id":"30f1b0317226d9c0","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"d292e0a2-5d98-11ed-9b6a-0242ac120002","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6307fbd9eb9f02c0","type":"ui_group","name":"Devices Info","tab":"8f7fb26fca750728","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef192be49ba497ee","type":"ui_group","name":"LDR Sensors","tab":"8f7fb26fca750728","order":2,"disp":true,"width":7,"collapse":false},{"id":"6e9352e8da0406db","type":"ui_group","name":"Temp Sensor","tab":"8f7fb26fca750728","order":4,"disp":true,"width":7,"collapse":false},{"id":"29835f4537245c06","type":"ui_group","name":"Humidity Sensors","tab":"8f7fb26fca750728","order":3,"disp":true,"width":"7","collapse":false},{"id":"50b515bcbb6861d1","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"desiot","tz":"","charset":"UTF8"},{"id":"8f7fb26fca750728","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]